@import './base/variables';
@import './base/mixins';

*{
   font-family: 'MuseoModerno', sans-serif;
   box-sizing: border-box;
}

html, body{
   height: 100%;
}

.container{
   max-width: 977px;
   padding: 0 15px;
   margin: 0 auto;
}

.wrapper{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   &_fixed{
      position: fixed;
      overflow: visible;
   }
}

.main{
   flex: 1 0 auto;
}

@import './blocks/buttons';
@import './blocks/introduce';
@import './blocks/header';
@import './blocks/strengths';

@import './base/media';