@import './base/variables';
*{
   font-family: 'Museo Sans Cyrl', sans-serif;
}
html, body{
   height: 100%;
}
.container{
   max-width: 977px;
   padding: 0 15px;
   margin: 0 auto;
}

.wrapper{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
}

.main{
   flex: 1 0 auto;
}

@import './blocks/buttons';
@import './blocks/introduce';
@import './blocks/header';
@import './blocks/strengths';