.button {
   width: 153px;
   height: 32px;

   border: none;
   border-radius: 5px;

   background-color: $main-color;

   font-weight: 500;
   font-size: 12px;
   text-transform: uppercase;
   color: #ffffff;

   transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
   .button:hover {
      background-color: rgb(227, 0, 0);
      box-shadow: 2px 2px 6px rgb(41, 41, 41);
   }
}
