.carousel-section {
   &__wrap {
      padding: 81px 0;
   }
   &__item {
      padding-top: 61.25%;
      height: 100%;
   }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
   width: 1.9375rem;
   height: 3.125rem;
}
.carousel-control-prev-icon {
   background-image: url(../../images/chevron.png);
}
.carousel-control-next-icon {
   background-image: url(../../images/chevron.png);
   transform: rotateY(180deg);
}
