.catalog {
   padding: 0 0 60px 0;

   &__tabs-menu,
   &__content-cards,
   &__main-content,
   &__card-item,
   &__card-descr,
   &__footer,
   &__price {
      display: flex;
   }

   &__content-cards,
   &__card-item,
   &__card-descr,
   &__price {
      flex-direction: column;
   }

   &__card-item,
   &__card-descr,
   &__footer {
      align-items: center;
   }

   &__tabs-menu,
   &__footer {
      justify-content: center;
   }

   &__main-content,
   &__list,
   &__txt,
   &__price,
   &__header {
      flex: 1 1 auto;
   }

   &__content,
   &__footer,
   &__tabs-menu {
      flex-wrap: wrap;
   }

   &__title,
   &__tabs-button,
   &__header,
   &__txt {
      text-align: center;
   }

   &__title,
   &__tabs-item {
      font-weight: 400;
   }

   &__title {
      font-size: 30px;
      line-height: 45px;
      text-transform: uppercase;
      margin-bottom: 46px;
   }
   &__tabs-menu {
      margin-bottom: 57px;
      padding: 0;
      gap: 20px;
   }
   &__tabs-item {
      width: 100%;
      min-width: 100px;
      max-width: 200px;
      height: 50px;
      border: 2px solid #d0d0d0;
      transform: skewX(-25deg);
      overflow: hidden;
      cursor: pointer;
      font-size: 18px;
      transition: all 0.5s, border-color 0.2s;

      &:last-child {
         margin: 0;
      }

      &:hover {
         box-shadow: 5px 5px 15px $main-color;
         border-color: #fff;
      }

      &_active {
         border: 2px solid transparent;
         background-color: $main-color;
         box-shadow: 5px 5px 15px #7e00009e;
         color: #fff;

         &:hover {
            border-color: transparent;
         }
      }
   }
   &__tabs-button {
      border: none;
      transform: skewX(25deg);
      text-transform: uppercase;
      line-height: 46px;
   }
   &__content {
      display: none;
      column-gap: 17px;
      row-gap: 19px;
      &_active {
         display: flex;
      }
   }
   &__content-cards {
      padding: 20px;
      border: 2px solid #e8e8e8;
      overflow: hidden;
   }
   &__main-content {
      width: calc(200% + 40px);
   }
   &__card-item {
      width: 50%;
      margin-right: 20px;
      transform: translateX(calc(-100% - 40px));
      transition: transform 0.5s ease-in-out;
      &_active {
         transform: translateX(0%);
      }
   }
   &__img-wrap {
      display: block;
      max-width: 255px;
      max-height: 200px;
      margin-bottom: 15px;
      text-align: center;
   }
   &__img {
      max-width: 100%;
      height: 100%;
   }
   &__header {
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 15px;
   }
   &__txt {
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 10px;
   }
   &__more-link,
   &__back-link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      color: #c70101;
      text-decoration: none;

      border-bottom: 1px solid #c70101;
      border-radius: 0;
      padding: 0;
      margin-bottom: 17px;
      cursor: pointer;
      &:hover {
         color: $main-color;
      }
   }
   &__card-descr {
      width: 50%;
      margin-left: 20px;
      transform: translateX(0%);
      transition: transform 0.5s ease-in-out;
      &_active {
         transform: translateX(calc(-100% - 40px));
      }
   }
   &__list {
      padding: 0;
      li {
         margin: 0 0 8px 0;
         padding-left: 15px;
         font-weight: 300;
         font-size: 14px;
         line-height: 21px;
         position: relative;
         &::before {
            content: "";
            display: block;
            position: absolute;
            top: 8px;
            left: 0;
            width: 5px;
            height: 5px;
            background: #c70101;
         }
      }
   }
   &__devider {
      height: 2px;
      width: 100%;
      background-color: #e8e8e8;
      margin-bottom: 17px;
   }
   &__footer {
      width: 100%;
      max-width: 370px;
      margin: 0 auto;
   }
   &__price {
      align-items: flex-start;
   }
   &__price-sale {
      font-weight: 300;
      font-size: 14px;
      line-height: 1;
      text-decoration: line-through;
   }
   &__normal-price {
      font-weight: 700;
      font-size: 20px;
      line-height: 1;
   }
   &__buy-button {
      font-size: 14px;
      width: 131px;
      height: 40px;
      flex: 0 1 auto;
   }
}

@media screen and (min-width: 991px) {
   .catalog {
      &__content-cards {
         flex: 1 1 calc(100% / 3 - 17px);
      }
   }
}

@media screen and (min-width: 768.9px) {
   .catalog {
      &__content-cards {
         max-width: 303px;
      }
   }
}

@media screen and (max-width: 991px) {
   .catalog {
      &__tabs-item {
         flex: 1 1 auto;
      }

      &__content_active {
         justify-content: center;
         flex: 1 1 auto;
      }
   }
}
