.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;

   font-weight: 400;
   font-size: 14px;

   &__input {
      height: 50px;
      width: 100%;

      padding: 0 20px;
      margin-bottom: 12px;

      border: none;
      border-radius: 6px;
      &:nth-child(3) {
         margin-bottom: 17px;
      }
      &::placeholder {
         color: #4b4b4b;
         opacity: 1;
      }
   }

   &__button {
      height: 58px;
      width: 100%;
      font-size: 16px;
   }

   .input-wrap {
      position: relative;
      width: 100%;
      .just-validate-error-label {
         position: absolute;
         top: -3px;
         left: 20px;
         max-width: 300px;
      }
   }
}
