.free-help {
   background: url(../../images/background/bg2.jpg) center center/cover
      no-repeat;

   &__wrap {
      padding: 100px 0 108px 0;
      color: #fff;
   }
   &__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      text-transform: uppercase;

      margin-bottom: 8px;
      padding-right: 144px;
      padding-left: 4px;
   }
   &__sub-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;

      margin-bottom: 38px;
      padding-right: 517px;
      padding-left: 4px;
   }
}
