.overlay {
   display: none;
   position: fixed;
   top: 0;
   z-index: 4;
   width: 100%;
   height: 100vh;
   background-color: rgba($color: #000000, $alpha: 0.56);
}
.modal {
   position: absolute;
   display: block;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 5;
   width: 422px;
   height: auto;
   &__wrap {
      margin: 0 40px 0 0;
      padding: 34px 25px 39px;
      background-color: #f2f2f2;
   }
   &__title {
      font-weight: 700;
      font-size: 19px;
      line-height: 19px;
      text-align: center;
      margin-bottom: 10px;
   }
   &__subtitle {
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      margin-bottom: 26px;
   }
   &__form {
      align-items: center;
   }
   &__button {
      height: 55px;
      margin: 0 auto;
   }
   &__close {
      position: absolute;
      top: 0;
      right: 0;
      color: $main-color;
      width: 21px;
      height: 21px;
      cursor: pointer;
      &::before {
         content: '';
         position: absolute;
         top: 10px;
         width: 100%;
         height: 3px;
         background-color: $main-color;
         transform: rotateZ(45deg);
      }
      &::after {
         content: '';
         position: absolute;
         top: 10px;
         width: 100%;
         height: 3px;
         background-color: $main-color;
         transform: rotateZ(-45deg);
      }
   }
}

.callback,
.order,
#thank {
   display: none;
}

#thank {
   .modal__wrap {
      padding: 35px 65px 34px;
   }
}
