.strengths{
   padding: 70px 0 67px 0;
   background: #F6F6F6;
   color: #0D0D0D;
   &__main-heading{
      font-weight: 700;
      font-size: 30px;
      text-transform: uppercase;

      text-align: center;
   }
   &__wrap{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      margin: 0 -3.590%;
      margin-top: 40px;
   }
   &__inner{
      display: flex;
      flex-direction: column;
      align-items: center;

      min-width: 252px;
      padding: 0 3.349%;
      margin-top: 20px;
      &_little{
         flex: 0 1 28.405%;
      }
      &_medium{
         flex: 0 1 28.83%;
      }
      &_big{
         flex: 0 1 29.250%;
      }
   }
   &__title{
      font-weight: 700;
      font-size: 18px;
      margin-top: 35px;
   }
   &__text{
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      margin-top: 20px;
   }
}