@font-face {
   font-family: MuseoModerno;
   src: url(../../font/MuseoModerno-Light.ttf);
   font-weight: 300;
}
@font-face {
   font-family: MuseoModerno;
   src: url(../../font/MuseoModerno-Regular.ttf);
   font-weight: 400;
}
@font-face {
   font-family: MuseoModerno;
   src: url(../../font/MuseoModerno-Medium.ttf);
   font-weight: 500;
}
@font-face {
   font-family: MuseoModerno;
   src: url(../../font/MuseoModerno-Bold.ttf);
   font-weight: 700;
}
